<p id="notice"><%= notice %></p>

<p>
  <strong>Academic year:</strong>
  <%= @journal_detail.academic_year %>
</p>

<p>
  <strong>Sem:</strong>
  <%= @journal_detail.sem %>
</p>

<p>
  <strong>Journal name:</strong>
  <%= @journal_detail.journal_name %>
</p>

<p>
  <strong>Issn no:</strong>
  <%= @journal_detail.issn_no %>
</p>

<p>
  <strong>Impact factor:</strong>
  <%= @journal_detail.impact_factor %>
</p>

<p>
  <strong>Journal type:</strong>
  <%= @journal_detail.journal_type %>
</p>

<p>
  <strong>Paper title:</strong>
  <%= @journal_detail.paper_title %>
</p>

<p>
  <strong>1 author name:</strong>
  <%= @journal_detail.1_author_name %>
</p>

<p>
  <strong>1 dept:</strong>
  <%= @journal_detail.1_dept %>
</p>

<p>
  <strong>1 organization:</strong>
  <%= @journal_detail.1_organization %>
</p>

<p>
  <strong>1 others:</strong>
  <%= @journal_detail.1_others %>
</p>

<p>
  <strong>2 author name:</strong>
  <%= @journal_detail.2_author_name %>
</p>

<p>
  <strong>2 dept:</strong>
  <%= @journal_detail.2_dept %>
</p>

<p>
  <strong>2 organization:</strong>
  <%= @journal_detail.2_organization %>
</p>

<p>
  <strong>2 others:</strong>
  <%= @journal_detail.2_others %>
</p>

<p>
  <strong>Vol no:</strong>
  <%= @journal_detail.vol_no %>
</p>

<p>
  <strong>Issue no:</strong>
  <%= @journal_detail.issue_no %>
</p>

<p>
  <strong>Page no:</strong>
  <%= @journal_detail.page_no %>
</p>

<p>
  <strong>Date submitted:</strong>
  <%= @journal_detail.date_submitted %>
</p>

<p>
  <strong>Date acceptance:</strong>
  <%= @journal_detail.date_acceptance %>
</p>

<p>
  <strong>Date publish:</strong>
  <%= @journal_detail.date_publish %>
</p>

<p>
  <strong>Paper abstract:</strong>
  <%= @journal_detail.paper_abstract %>
</p>

<p>
  <strong>User:</strong>
  <%= @journal_detail.user %>
</p>

<%= link_to 'Edit', edit_journal_detail_path(@journal_detail) %> |
<%= link_to 'Back', journal_details_path %>
