<p id="notice"><%= notice %></p>

<p>
  <strong>Academic year:</strong>
  <%= @conference_detail.academic_year %>
</p>

<p>
  <strong>Sem:</strong>
  <%= @conference_detail.sem %>
</p>

<p>
  <strong>Conference name:</strong>
  <%= @conference_detail.conference_name %>
</p>

<p>
  <strong>Conference organizer:</strong>
  <%= @conference_detail.conference_organizer %>
</p>

<p>
  <strong>Address:</strong>
  <%= @conference_detail.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @conference_detail.city %>
</p>

<p>
  <strong>Conference type:</strong>
  <%= @conference_detail.conference_type %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @conference_detail.isbn %>
</p>

<p>
  <strong>Paper title:</strong>
  <%= @conference_detail.paper_title %>
</p>

<p>
  <strong>One author name:</strong>
  <%= @conference_detail.one_author_name %>
</p>

<p>
  <strong>One department:</strong>
  <%= @conference_detail.one_department %>
</p>

<p>
  <strong>One organization:</strong>
  <%= @conference_detail.one_organization %>
</p>

<p>
  <strong>One others:</strong>
  <%= @conference_detail.one_others %>
</p>

<p>
  <strong>Volume number:</strong>
  <%= @conference_detail.volume_number %>
</p>

<p>
  <strong>Issue number:</strong>
  <%= @conference_detail.issue_number %>
</p>

<p>
  <strong>Page start:</strong>
  <%= @conference_detail.page_start %>
</p>

<p>
  <strong>Page end:</strong>
  <%= @conference_detail.page_end %>
</p>

<p>
  <strong>Date submission:</strong>
  <%= @conference_detail.date_submission %>
</p>

<p>
  <strong>Date acceptance:</strong>
  <%= @conference_detail.date_acceptance %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @conference_detail.date_published %>
</p>

<p>
  <strong>Paper abstract:</strong>
  <%= @conference_detail.paper_abstract %>
</p>

<p>
  <strong>User:</strong>
  <%= @conference_detail.user %>
</p>

<%= link_to 'Edit', edit_conference_detail_path(@conference_detail) %> |
<%= link_to 'Back', conference_details_path %>
