<p id="notice"><%= notice %></p>

<p>
  <strong>Project title:</strong>
  <%= @consulting_project.project_title %>
</p>

<p>
  <strong>Consulting name:</strong>
  <%= @consulting_project.consulting_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @consulting_project.address %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @consulting_project.contact_person %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @consulting_project.mobile %>
</p>

<p>
  <strong>Principle name:</strong>
  <%= @consulting_project.principle_name %>
</p>

<p>
  <strong>Principle designation:</strong>
  <%= @consulting_project.principle_designation %>
</p>

<p>
  <strong>Principle company:</strong>
  <%= @consulting_project.principle_company %>
</p>

<p>
  <strong>Principle address:</strong>
  <%= @consulting_project.principle_address %>
</p>

<p>
  <strong>Principle mobile:</strong>
  <%= @consulting_project.principle_mobile %>
</p>

<p>
  <strong>Principle mail:</strong>
  <%= @consulting_project.principle_mail_id %>
</p>

<p>
  <strong>Co investigator name:</strong>
  <%= @consulting_project.co_investigator_name %>
</p>

<p>
  <strong>Co investigator designation:</strong>
  <%= @consulting_project.co_investigator_designation %>
</p>

<p>
  <strong>Co investigator company:</strong>
  <%= @consulting_project.co_investigator_company %>
</p>

<p>
  <strong>Co investigator address:</strong>
  <%= @consulting_project.co_investigator_address %>
</p>

<p>
  <strong>Co investigator mobile:</strong>
  <%= @consulting_project.co_investigator_mobile %>
</p>

<p>
  <strong>Co investigator mail:</strong>
  <%= @consulting_project.co_investigator_mail_id %>
</p>

<p>
  <strong>Jrf1 name:</strong>
  <%= @consulting_project.jrf1_name %>
</p>

<p>
  <strong>Jrf1 designation:</strong>
  <%= @consulting_project.jrf1_designation %>
</p>

<p>
  <strong>Jrf1 organizer:</strong>
  <%= @consulting_project.jrf1_organizer %>
</p>

<p>
  <strong>Jrf1 address:</strong>
  <%= @consulting_project.jrf1_address %>
</p>

<p>
  <strong>Jrf1 mobile:</strong>
  <%= @consulting_project.jrf1_mobile %>
</p>

<p>
  <strong>Jrf1 mail:</strong>
  <%= @consulting_project.jrf1_mail_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @consulting_project.user %>
</p>

<%= link_to 'Edit', edit_consulting_project_path(@consulting_project) %> |
<%= link_to 'Back', consulting_projects_path %>
